body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background-color: gray;
}

.inputSection {
    margin-bottom: 20px;
}

.imageSection {
    margin-top: 20px;
}
